<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TodoApp</title>
  <%= csrf_meta_tag() %>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>">
  <script defer src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
</head>
<body>
  <div id="app" data-page="<%= raw InertiaPhoenix.page(@conn) %>"></div>
</body>
</html>
